@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}


body {
    line-height: 1.6;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #333;
}

p, label {
    font-size: 16px;
    line-height: 1.5;
}

.nav-bar {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

input, select, button, textarea {
    padding: 10px;
    margin: 10px 0;
    display: block;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background: linear-gradient(45deg, #2196F3, #21CBF3);
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button:hover {
    background: linear-gradient(45deg, #21CBF3, #2196F3);
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.list-form-container {
    display: flex;
    justify-content: space-between;
}

.list-container, .form-container {
    width: 50%;
}

.patient-list-item a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.patient-list-item a:hover {
    background-color: #f0f0f0;
}

.patient-dropdown {
    position: absolute;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.detail-container {
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin: 20px auto;
    max-width: 600px;
}

.detail-header {
    color: #333;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

.detail-text {
    margin-top: 5px;
}
